@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "نسيان كلمه السر";
}

<h1 style="font-family:Cairo; direction:rtl">@ViewData["Title"]</h1>
<p>
    الرجاء النقر علي الرابط المرسل الي الايميل الخاص بك لاعاده كلمه السر
</p>

